.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
}
.logo {
  color: darkblue;
  font-weight: 700;
  font-size: 30px;
}

.logIn {
  font-weight: 700;
  font-size: 20px;
}

.loginInput {
  padding: 10px;
  background-color: white;
  outline: none;
  border: none;
  margin: 1rem;
  width: 100%;
}

.loginButton {
  padding: 10px;
  width: 100%;
  margin: 1rem;
  border: none;
}
